<% if logged_in? %>
  <div class="container">
    <h1>StopWatch</h1>
    <div class="row" id="clock">
      <span>00:00:00</span>
      <div class="col-md" id="stopwatch-button">
        <input type="button" class="btn btn-primary" id="start" value="Start">
        <input type="button" class="btn btn-danger" id="stop" value="Stop">
        <input type="button" class="btn btn-success" id="reset" value="Reset">
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>ようこそ！</h1>
    <p>アカウントをお持ちの方は、右上のログインボタンからログインして下さい。</p>
    <p>アカウントをお持ちでない方は、下のSign upボタンからユーザー登録を完了してください。</p>
    <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>